<!DOCTYPE html>
<html>
<title>Dozen esports</title>
<style>
    .gg {
        margin-top: 100px;
    }
</style>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>

    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <a href="#home" class="w3-bar-item w3-button"><b>DEV</b> Univers666</a>
            <!-- Float links to the right. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                <a href="input" class="w3-bar-item w3-button">Tournament</a>
                <a href="about" class="w3-bar-item w3-button">About</a>
                <a href="contact" class="w3-bar-item w3-button">Contact</a>
            </div>
        </div>
    </div>

    <!-- Header -->
    <!-- <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
        <img class="w3-image" src="/w3images/architect.jpg" alt="Architecture" width="1500" height="800">
        <div class="w3-display-middle w3-margin-top w3-center">
            <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>BR</b></span> <span class="w3-hide-small w3-text-light-grey">Architects</span></h1>
        </div>
    </header> -->
    <div class="gg">
        <img src="https://scontent.fubp1-1.fna.fbcdn.net/v/t1.0-9/61098075_692715027852613_4137217081407963136_o.jpg?_nc_cat=101&_nc_oc=AQl8cb9by7ntjFraCNVlEkkPMzdxtbuppbfuktCgQmouddNMeuQ7Xgj4rmk14Ck6yVuPnV8uD5dqk810V0kX6wch&_nc_ht=scontent.fubp1-1.fna&oh=912d5499ba55c2c02cbc2dfd5c50220a&oe=5E16AAB2"
            style="width: 100%;">
    </div>


    <!-- Footer -->
    <footer class="w3-center w3-black w3-padding-16">
        <p>Powered by <a href="https://www.facebook.com/james.kittiphon.9" title="W3.CSS" target="_blank" class="w3-hover-text-green">James</a></p>
    </footer>

</body>

</html>